<div>
    <h2 translate="spevnikApp.playlist.home.title">Playlists</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <!-- <button class="btn btn-primary" ui-sref="playlist.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="spevnikApp.playlist.home.createLabel">
                        Create new Playlist
                    </span>
                </button> -->
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="spevnikApp.playlist.title">Title</span></th>
                    <th><span translate="spevnikApp.playlist.songs">songs</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="playlist in vm.playlists track by playlist.id">
                    <td><a ui-sref="playlist-detail({id:playlist.id})">{{playlist.id}}</a></td>
                    <td><a ui-sref="playlist-detail({id:playlist.id})">{{playlist.title.rendered}}</a></td>
                    <td>
                        <span ng-show="!playlist.songs">Zatiaľ žiadne.</span>
                        <span ng-repeat="song in playlist.songs">
                            <a class="form-control-static" ui-sref="song-detail({id: {{song.ID}}})">{{song.post_title}}</a>{{$last ? '' : ', '}}
                        <span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="playlist-detail({id:playlist.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <!-- <button type="submit"
                                    ui-sref="playlist.edit({id:playlist.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="playlist.delete({id:playlist.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button> -->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
